<!DOCTYPE html>
<html ng-app="SoapApp">
  <head>
    <title>Son Of A Pix</title>
    <link rel="stylesheet" href="/css/min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/node_modules/purecss/build/pure.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div class="main">

      <div class="half">
        <div id="soap-logo">
          lorem ipsum
        </div>
      </div>

      <div class="half games games-count-{{games.length}}">
        <input ng-model="query" placeholder="search" class="hidden"/>
        <div class="game" ng-repeat="(index, game) in games | filter:query">
          <img class="cover" src="http://lorempixel.com/640/640/nature/{{game.cover}}" ng-show="game.cover != null"/>
          <div class="cover" ng-hide="game.cover != null">
            - project {{game.project_name}} -
          </div>
        </div>
      </div>

      <div class="third"></div>

    </div>

  </body>
</html>
