body {
  background-color: #000000;
  margin: 0;
  color: #FFFFFF;
  overflow:hidden;
}
#soap-logo {
  /*border: 1px solid red;*/
  width: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/soap.logo.square.jpg');
}
div.cover {
  text-align: center;
  margin: 49% auto;
  font-size: 2rem;
  color: #CCC;
}
@media only screen and (orientation: landscape) {
  #soap-logo {
    height: 50vw;
  }
  .half {
    width: 50vw;
    float: left;
  }
  .quarter {
    width: 25vw;
  }
  .third {
    border: 1px solid red;
    width: 33vw;
  }
  .cover {
    width: 100%;
    height: 100%;
  }
  .games .game {
    float: left;
  }
  .games-count-2 .game {
    width: 25vw;
    height: 50vh;
  }
  .games-count-2 .cover {
    width: 100%;
    height: 100%;
  }
  .games-count-3 .game {
    width: 50vw;
    height: 33vh;
  }
  .games-count-3 .cover {
    width: 100%;
    height: 100%;
  }
  .games-count-4 .game {
    width: 25vw;
    height: 25vw;
  }
}


@media only screen and (orientation: portrait) {
  body {
    overflow: auto;
  }
  #soap-logo {
    width: 100vw;
    height: 25vh;
    background-position: 0 center;
    background-size: cover;
  }
  .games .game {
    background-color: red;
    width: 100%;
    height: 25vh;
  }
  .games .cover {
    width: 100vw;
    height: 200%;
  }
  div.cover {
    /*text-align: center;*/
    /*margin: 49% auto;*/
    font-size: 2rem;
    color: #CCC;
  }
}
